@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

* {
	font-family: var(--font-sans) !important;
}

::selection {
	background-color: #3b82f6;
	color: white;
}

::-moz-selection {
	background-color: #3b82f6;
	color: white;
}
